<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
	<WebPublishMethod>Container</WebPublishMethod>
	<PublishProvider>ContainerRegistry</PublishProvider>
	<ContainerPublishMethod>NetSdk</ContainerPublishMethod>
	<RegistryUrl>docker.vod.qsolution.ru:5100</RegistryUrl>
	<ContainerRepository>taxcom-docflow-vv-north.auto-send-receive-worker</ContainerRepository>
	<PublishImageTag>latest</PublishImageTag>
	<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
	<LastUsedPlatform>Any CPU</LastUsedPlatform>
	<RuntimeIdentifier>linux-x64</RuntimeIdentifier>
	<_IsDockerfilePresent>true</_IsDockerfilePresent>
	<_TargetId>NetSdkConsoleCustomContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>
