<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://docker.vod.qsolution.ru:5100</RegistryUrl>
    <UserName>admin</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b3c9f199-7cae-4d5a-91ae-5ffd3f318592</ProjectGuid>
	<PublishImageTag>1.1.0</PublishImageTag>
  </PropertyGroup>
</Project>
