<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://docker.vod.qsolution.ru:5100</RegistryUrl>
    <UserName>admin</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e8cada89-f8cc-42cc-a3c3-2eab9aee566f</ProjectGuid>
	<PublishImageTag>$(VersionPrefix)</PublishImageTag>
  </PropertyGroup>
</Project>
