<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/var/log/VodovozMangoService/internal-nlog.log"
>
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
	<targets>
        <target name="logfile" xsi:type="File"
		fileName="/var/log/VodovozMangoService/server.log"
		archiveFileName="/var/log/VodovozMangoService/server.{#}.log"
		archiveEvery="Day"
		archiveNumbering="Rolling"
		maxArchiveFiles="3"
		 layout="${longdate}|${level}|${logger}|${message} ${onexception:${newline}${exception:format=tostring}}" />
        <target name="requests" xsi:type="File"
                fileName="/var/log/VodovozMangoService/requests.log"
                archiveFileName="/var/log/VodovozMangoService/requests.{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="3"
                layout="${longdate}|${level}|${logger}|${message} ${onexception:${newline}${exception:format=tostring}}" />
        <target name="console" xsi:type="Console" layout="${time} ${logger} ${message} ${onexception:${newline}${exception:format=tostring}}" />
        <target name="lostEvents" xsi:type="File"
                fileName="/var/log/VodovozMangoService/lost_events.log"
                archiveFileName="/var/log/VodovozMangoService/lost_events.{#}.log"
                archiveEvery="Month"
                archiveNumbering="Rolling"
                maxArchiveFiles="3"
                layout="${longdate}|${level}|${logger}|${message} ${onexception:${newline}${exception:format=tostring}}" />
    </targets>
    <rules>
        <logger name="Requests" minlevel="trace" writeTo="requests" final="true"/>       
        <logger name="*" minlevel="debug" writeTo="logfile" />
        <logger name="LostEvents" minlevel="info" writeTo="lostEvents" />
        <logger name="*" minlevel="debug" writeTo="console" />
    </rules>
</nlog>
