#User Specific
*.userprefs
*.usertasks
*.DotSettings.user
*.csproj.user
*.pubxml.user
*~

#Rider
.idea/
.directory

#Mono Project Files
bin/
obj/
packages/*
.vs/
.vscode/
mono_crash.*.json

#Workbench Backup Files
Base/Factory.mwb.bak
*.DS_Store

#Project Specific
WinInstall/*
!*.nsi
!*.sh
*.sln.DotSettings.user

#Environment Settings
*appsettings.Production.json
*appsettings.Development.json
!Source/Applications/Backend/WebAPI/DriverAPI/appsettings.Development.json
!Source/Applications/Backend/WebAPI/LogisticsEventsApi/appsettings.Development.json
!Source/Applications/Backend/Workers/Docker/PushNotificationsWorker/appsettings.Development.json

#Docker Volumes
Services/Docker/db-data/*
*.mwb.bak
