#User Specific
*.userprefs
*.usertasks
*.DotSettings.user
*~

#Rider
.idea/
.directory

#Mono Project Files
bin/
obj/
packages/*
.vs/
.vscode/
mono_crash.*.json

#Workbench Backup Files
Base/Factory.mwb.bak
*.DS_Store

#Project Specific
WinInstall/*
!*.nsi
!*.sh
*.sln.DotSettings.user
