[submodule "Source/Libraries/External/GMap.NET"]
	path = Source/Libraries/External/GMap.NET
	url = https://github.com/QualitySolution/GMap.NET.git
[submodule "Source/Libraries/External/Gtk.DataBindings"]
	path = Source/Libraries/External/Gtk.DataBindings
	url = https://github.com/QualitySolution/Gtk.DataBindings.git
