<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		throwExceptions="false"
		internalLogLevel="Off"
		internalLogFile="C:\inetpub\logs\DriverApiTest\nlog-internal.log">
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="C:\inetpub\logs\DriverApiTest\DriverApi.log"
				archiveFileName="C:\inetpub\logs\DriverApiTest\DriverApi.{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="3"
				layout="${longdate}|${level}|${logger}|${message} ${onexception:${newline}${exception:format=tostring}}" />
		<target name="requestsLog" xsi:type="File"
				fileName="C:\inetpub\logs\DriverApiTest\requests.log"
				archiveFileName="C:\inetpub\logs\DriverApiTest\requests.{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="3"
				layout="${longdate}|${level}|${message} ${onexception:${newline}${exception:format=tostring}}" />
		<target name="advancedLog" xsi:type="File"
				fileName="C:\inetpub\logs\DriverApiTest\advanced.log"
				archiveFileName="C:\inetpub\logs\DriverApiTest\advanced.{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="3"
				layout="${longdate}|${level}|${message} ${onexception:${newline}${exception:format=tostring}}" />
		<target xsi:type="ColoredConsole"
				name="Console"
				layout="${longdate} ${uppercase:${level}} ${message}"
				/>
	</targets>
	<rules>
		<logger name="Microsoft.*" minlevel="Trace" final="true" />		
		<logger name="DriverAPI.Middleware.RequestResponseLoggingMiddleware" minlevel="Trace" writeTo="requestsLog" final="true"/>
		<logger name="DriverAPI.Controllers.RegistrationsController" minlevel="Trace" writeTo="advancedLog" final="true"/>
		<logger name="DriverAPI.Controllers.TokenController" minlevel="Trace" writeTo="advancedLog" final="true"/>
		<logger name="Vodovoz.Tools.LoggedMySqlClientDriver" maxlevel="Debug" final="true" />
		<logger name="Vodovoz.Tools.LoggedMySqlClientDriver" minlevel="Error" writeTo="logfile" final="true" />
		<logger name="*" minlevel="debug" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="Console" final="true" />
	</rules>
</nlog>
