<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		throwExceptions="false"
		internalLogLevel="Off"
		internalLogFile="C:\inetpub\logs\UnsubscribePage\nlog-internal.log">
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="C:\inetpub\logs\UnsubscribePage\UnsubscribePage.log"
				archiveFileName="C:\inetpub\logs\UnsubscribePage\UnsubscribePage.{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="3"
				layout="${longdate}|${level}|${logger}|${message} ${onexception:${newline}${exception:format=tostring}}" />
		<target xsi:type="ColoredConsole"
				name="Console"
				layout="${longdate} ${uppercase:${level}} ${message}"
				/>
	</targets>
	<rules>
		<logger name="*" minlevel="debug" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="Console" final="true" />
	</rules>
</nlog>
