<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	
	<Import Project="../../RepositorySettings.props" />

	<PropertyGroup>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<RuntimeIdentifier>linux-x64</RuntimeIdentifier>

		<WebPublishMethod>Container</WebPublishMethod>
		<ContainerPublishMethod>NetSdk</ContainerPublishMethod>
		<_TargetId>NetSdkConsoleCustomContainerRegistry</_TargetId>
		<ContainerBaseImage>docker.vod.qsolution.ru:5100/vodovoz-reporting-base:latest</ContainerBaseImage>
		
		<!-- 
		ContainerRepository подгружается из файла RepositorySettings.props в каталоге проекта
		Тут его лучше не добавлять, для упрощения копирования профилей без радактирования
		-->
		<!--<ContainerRepository></ContainerRepository>-->
		<PublishImageTag>latest</PublishImageTag>

		<ContainerRegistry></ContainerRegistry>
		<RegistryUrl></RegistryUrl>
	</PropertyGroup>
</Project>
