<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<PublishProvider>ContainerRegistry</PublishProvider>
		<WebPublishMethod>Container</WebPublishMethod>
		<ContainerPublishMethod>NetSdk</ContainerPublishMethod>
		<_TargetId>NetSdkCustomContainerRegistry</_TargetId>

		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<RuntimeIdentifier>linux-x64</RuntimeIdentifier>

		<RegistryUrl>docker.vod.qsolution.ru:5100</RegistryUrl>

		<ContainerRepository>fast.delivery.late.worker</ContainerRepository>
		<PublishImageTag>latest</PublishImageTag>
	</PropertyGroup>
</Project>
