<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		throwExceptions="false"
		internalLogLevel="Off"
		internalLogFile="C:\inetpub\logs\roboats\nlog-internal.log">
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<target name="requestLogs" xsi:type="File"
				fileName="C:\inetpub\logs\roboats\request_logs.log"
				archiveFileName="C:\inetpub\logs\roboats\request_logs.{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="3"
				layout="${longdate}|${level}|${logger}|${message}" />
		<target name="monitoringLogs" xsi:type="File"
				fileName="C:\inetpub\logs\roboats\monitoring_logs.log"
				archiveFileName="C:\inetpub\logs\roboats\monitoring_logs.{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="3"
				layout="${longdate}|${level}|${logger}|${message} ${onexception:${newline}${exception:format=tostring}}" />
		<target name="all" xsi:type="File"
				fileName="C:\inetpub\logs\roboats\logs.log"
				archiveFileName="C:\inetpub\logs\roboats\logs.{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="3"
				layout="${longdate}|${level}|${logger}|${message} ${onexception:${newline}${exception:format=tostring}}" />
		<target name="console" xsi:type="Console"
                useDefaultRowHighlightingRules="True"
                layout="${time} ${logger} ${message} ${onexception:${newline}${exception:format=tostring}}" />
	</targets>
	<rules>
		<logger name="RoboAtsService.Controllers.RoboATSController" minlevel="Debug" writeTo="requestLogs" final="true"/>
		<logger name="RoboAtsService.Monitoring.RoboatsCallRegistrator" minlevel="Debug" writeTo="monitoringLogs" final="true"/>
		<logger name="*" writeTo="all" />
		<logger name="*" minlevel="trace" writeTo="console"/>		
	</rules>
</nlog>
