@using Vodovoz.Domain.Orders
@model UnsubscribePage.Models.UnsubscribeViewModel

@{
	ViewBag.Title = "Отписка";
}

@if(Model.CounterpartyBulkSubscribeNode?.CounterpartyId == null)
{
	<p class="btn btn-warning d-flex align-items-center justify-content-center btn-lg">
		Вы уже отписаны!
	</p>

	return;
}

<form asp-action="Index" asp-controller="Unsubscribe" method="post">

	<div asp-validation-summary="All" class="text-danger"></div>

	<input asp-for="EmailEventId" type="hidden" />
	<input asp-for="OtherReasonId" type="hidden" />
	<input asp-for="ReasonsListSerialized" type="hidden" />
	<input asp-for="CounterpartyBulkSubscribeNodeSerialized" type="hidden" />

	<table>
		<tr>
			<td class="w-50">
				<div>
					<img src="img/unsubscribe.jpg" width="100%" />
				</div>
			</td>

			<td class="w-50">

				<h2>Вы отписаны от рассылки</h2>

				<p>
					Нам очень важно знать ваше мнение.
					Пожалуйста, уделите ещё пару минут и скажите,
					почему вы решились на этот шаг?
				</p>

				<table class="table border table-hover mt-0">

					<tr class="table-warning">
						<th>
							Я отписался, потому что:
							<span asp-validation-for="SelectedReasonId"
								  class="alert-danger"></span>
						</th>
					</tr>

					<tbody>

					@foreach(var reason in Model.ReasonsList)
					{
						<tr>
							<td>

								<label class="custom-control custom-radio mb-2">

									<input type="radio"
										   asp-for="SelectedReasonId"
										   value="@reason.Id" />

									@reason.Name

								</label>

								@if(reason.Id == Model.OtherReasonId)
								{
									<input class="w-100"
										   maxlength="255"
										   asp-for="OtherReason" />

									<span asp-validation-for="OtherReason"
										  class="alert-danger"></span>
								}

							</td>
						</tr>
					}

					<tr>
						<td>
							<input type="submit"
								   value="Отправить"
								   class="btn btn-warning w-100" />
						</td>
					</tr>

					</tbody>

				</table>
			</td>
		</tr>
	</table>
</form>
