<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net48" />
  <package id="FluentNHibernate" version="3.1.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net48" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.19" targetFramework="net48" />
  <package id="NHibernate" version="5.3.4" targetFramework="net48" />
  <package id="NLog" version="4.7.2" targetFramework="net48" />
  <package id="NetTopologySuite" version="2.0.0-pre001" targetFramework="net48" />
  <package id="NetTopologySuite.IO.SqlServerBytes" version="2.0.0-pre001" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net48" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net48" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="Trove.Nini" version="1.1.0.0" targetFramework="net48" />
</packages>