<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<RuntimeIdentifier>linux-x64</RuntimeIdentifier>

		<WebPublishMethod>Container</WebPublishMethod>
		<ContainerPublishMethod>NetSdk</ContainerPublishMethod>
		<_TargetId>NetSdkConsoleCustomContainerRegistry</_TargetId>

		<!-- 
		ContainerRepository подгружается из файла RepositorySettings.props в каталоге проекта
		Тут его лучше не добавлять, для упрощения копирования профилей без радактирования
		-->
		<ContainerRepository>fastpayment.events-sender</ContainerRepository>
		<PublishImageTag>latest</PublishImageTag>

		<PublishProvider>ContainerRegistry</PublishProvider>
		<!-- 
		RegistryUrl заполняется централизовано в файле Directory.Build.props в корне решения
		и автоматически подгружается в профили публикации
		Раскомментировать для переопределения
		-->
		<!--<RegistryUrl></RegistryUrl>-->

	</PropertyGroup>
</Project>
